/* Tipografía */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");

@font-face {
  font-family: "Campfire";
  src: url("https://res.cloudinary.com/dq5kuockn/raw/upload/v1612456650/portafolio/Campfire_yxpotb.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
}

/* Variables */
:root {
  --primario: #92b8cd;
  --primario-claro: #c3eaff;
  --primario-fuerte: #63889c;
  --secundario: #d7e880;
  --secundario-claro: #ffffb1;
  --secundario-fuerte: #a4b651;
  --bg: #ffffff;
  --font-base: "Raleway", sans-serif;
  --font-headings: "Campfire";
  --h1: 80px;
  --h2: 40px;
  --h3: 29px;
  --h4: 60px;
  --h5: 22px;
  --gradient: linear-gradient(
    60deg,
    var(--primario) 0%,
    var(--primario-claroclaro) 100%
  );
  --gradient-alt: linear-gradient(
    60deg,
    var(--primario-claro) 0%,
    var(--bg) 100%
  );
  --transition: all 0.4s ease-in-out;
  --transition-links: transform 0.25s ease-out;
  --transition-modes: all 500ms ease-in-out,
    color 1000ms fill 1000ms path 1000ms ease-in-out;
}

/* Base */
body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Campfire";
  align-self: center;
  justify-self: center;
  color: var(--secundario);
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: var(--bg);
}

h4 {
  font-family: "Campfire";
  align-self: center;
  justify-self: center;
  color: var(--secundario);
}

h3,
h4,
h5,
h6 {
  font-family: "Campfire"; /*cambiar*/
}

body {
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

a {
  text-decoration: none;
}

/* Componentes */
.container {
  background-color: var(--primario);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-gap: 20px; */
}

.layout {
  display: flex;
  min-height: 100vh;
}
.navegacion {
  flex: 1;
  min-height: 100vh;
  background-color: var(--primario);
  color: var(--bg);
}

.logo {
  margin: 0 auto;
  margin-top: 50px;
}

.nav {
  writing-mode: vertical-rl;
  /* padding-left: 40px; */
  height: 100vh;
  width: 80%;
}

.nav ul {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  height: 100%;
  width: 60%;
  gap: 6rem;
  transform: rotate(-180deg);
}

.main {
  flex: 5;
}

.main .hero {
  height: 100%;
  background-color: var(--primario);
  display: grid;
  place-content: center;
}

.main .hero .titulo {
  text-align: center;
}

.main .proyectos {
  background-color: var(--primario-claro);
}

.proyectos-grid,
.proyectos-grid2,
.proyectos-grid3 {
  display: grid;
  grid-auto-flow: column;
  margin-left: 30px;
}

.proyectos-grid {
  margin-top: var(--h4);
}
.proyectos-grid2 {
}

.proyectos-grid3 {
  margin-bottom: var(--h1);
}

.main .sobremi-grid {
  background-color: var(--primario);
}
.sobremi-grid {
  display: grid;
  grid-auto-flow: column;
  padding-left: 30px;
}

.hola {
  padding-top: var(--h1);
  padding-left: var(--h4);
}

.descrip {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: var(--bg);
}
/* .intro {
  grid-column: 2/7;
  background: lightskyblue;
} */

/* .nav {
  height: 100vh;
  writing-mode: vertical-rl;
  padding-left: 40px;
  position: sticky;
  top: 0;
  position: relative;
} */

.nav ul a {
  color: var(--bg);
}

.nav ul a:hover {
  text-decoration: underline;
  background-color: var(--secundario);
  color: var(--primario);
}

.nav a::after {
  content: "";
  position: absolute;
  width: 103%;
  transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-image: var(--secundario);
  transform-origin: bottom right;
  transition: var(--transition-links);
}

.nav a:hover {
  color: var(--primary);
}

.nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-image: var(--gradient);
}

.nav a:hover::before {
  filter: drop-shadow(1px 0 2px var(--primario));
}

.portafolio {
  margin: 0 auto;
}

.titulo {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: var(--h3);
}
/* .logo {
  padding-left: 100px;
  padding-top: 500px;
  width: 100px;
} */

/* a .header {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  border: 2px solid black;
} */
/* .descripcion {
  font-family: "Campfire";
  padding-left: 25vw;
}


/* Utilities */
/*
.flex {
  display: flex;
}

.flex-center {
  justify-items: center;
  align-items: center;
}
. .grid {
  display: grid;
  padding-left: 100vh;
}

.grid-center {
  place-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
  visibility: hidden;
}

.outline {
  outline: 2px solid black;
} */
